@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

body {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    font-style: normal;
    background: #fff5f8;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    color: #1e1e21;

    margin: 0;
    padding: 0;
}

svg {
    color: #1e1e21;
    transition: .15s all;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.2em;
    padding: 2em;
}

button {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    border: none;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: center;
}

input {
    font-family: "DM Sans", sans-serif;
    font-weight: 600;
    border: none;
}



.grid {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.row {
    display: flex;
    align-items: center;
    gap: 8px;
}

.instrument-select {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 135px;
    height: 40px;
    border-radius: 2px;

    outline: #e05c8a solid 0px;
    border: #f9b0cb solid 2.5px;
    background: #fde8f1;

    transition: .15s all;

    text-align: center;
    cursor: pointer;
}

.instrument-select span {
    color: #e05c8a;
    font-size: 14px;
    font-family: "DM Sans", sans-serif;
    font-weight: 600;

}

.instrument-select span[data-dir="right"] {
    animation: slide-from-right .25s ease-out;
}

.instrument-select span[data-dir="left"] {
    animation: slide-from-left .25s ease-out;
}

@keyframes slide-from-right {
    from { opacity: 0; transform: translateX(-14px); }
    to   { opacity: 1; transform: translateX(0); }
}

@keyframes slide-from-left {
    from { opacity: 0; transform: translateX(14px); }
    to   { opacity: 1; transform: translateX(0); }
}

.instrument-select button {
    background: none;
    transition: .15s all;
}

.instrument-select button:hover {
    transform: scale(1.2);
}

.instrument-select svg {
    color: #e05c8a;
}

.instrument-select:hover {
    outline: #e05c8a solid 2.5px;
}



.cell {
    width: 60px;
    height: 40px;

    background-color: #f9b0cb;
    border: none;
    border-radius: 2px;

    transition: background-color .2s, outline .15s, transform .15s;

    outline: #e05c8a solid 0px;
    cursor: pointer;
}

.cell:hover {
    transform: scale(1.05);
}

.cell.active {
    background-color: #f2789f;
    outline: #e05c8a solid 2.5px;
}
 
.cell.playing {
    background-color: #91ddd7;
    outline: #1f9688 solid 0px;
}
 
.cell.playing.active {
    background-color: #2db8a8;
    outline: #1f9688 solid 2.5px;
}

.remove-track, .track-settings, .settings, .steps-select, .move-track, .settings-panel button {
    width: 40px;
    height: 40px;
    border-radius: 2px;

    background-color: #e6eaf2;
    color: #1e1e21;
    outline: none;
    border: none;

    transition: .15s all;
}

.move-track {
    width: 30px;
}

.remove-track svg, .track-settings svg, .settings svg, .new-track svg, .settings-panel svg, .bpm-label svg {
    filter: drop-shadow(0 2px 1px #acbed8);
}

.play svg {
    filter: drop-shadow(0 2px 1px #2db8a865);
}


.instrument-select svg {
    filter: drop-shadow(0 2px 1px #e05c8a6d);
}

.remove-track:hover, .new-track:hover, .track-settings:hover, .settings:hover, .move-track:hover, .settings-panel button:hover {
    background-color: #dae1ec;
}

.volume-control {
    position: relative;
    height: 40px;
    width: 120px;
    background-color: #e6eaf2;
    border-radius: 2px;

    padding: 3px;
    box-sizing: border-box;

    cursor: pointer;

    transition: .15s all;
}

.volume-control svg {
    position: absolute;
    top: 50%;
    transform: translate(25%, -50%);
    color: #c4d3ea;
    pointer-events: none;

    filter: drop-shadow(0 2px 1px #c4d3ea66);
}

.volume-control:hover, .bpm-label:hover {
    background-color: #dae1ec;
}

.volume-control .volume-indicator {
    height: 100%;
    background-color: #fff5f8;
    filter: drop-shadow(0 -1px 2px #fff5f88d) drop-shadow(0 1px 2px #c4d3ea);
    border-radius: 1px;

    cursor: pointer;

    transition: width .15s;
}





.end-container {
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 8px;
}

.new-track {
    width: 0;
    flex: 1;
    height: 40px;
    border-radius: 2px;

    background-color: #e6eaf2;
    display: flex;
    justify-content: center;
    align-items: center;

    transition: .15s all;
}

.tooltip-wrap:has(.new-track) {
    flex: 1;
}

.play {
    height: 40px;
    width: 40px;
    
    background-color: #b2ebe7;
    color: #1e1e21;
    border-radius: 2px;
    transition: all .15s;

    border: #6dcec6 solid 2.5px;
    outline: #1f9688 solid 0px;
}

.play:hover {
    outline: #1f9688 solid 2.5px;
}





.bpm-label {
    width: 120px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 8px;
    font-size: 14px;
    color: #1e1e21;

    height: 40px;
    padding: 10px;
    background-color: #e6eaf2;
    
    border-radius: 2px;

    transition: .15s all;
}

.note-container {
    display: flex;
}

.bpm-drag {
    font-size: 14px;
    color: #1e1e21;
    background-color: #fff5f8;

    filter: drop-shadow(0 -1px 2px #fff5f88d) drop-shadow(0 1px 2px #c4d3ea);

    padding: 2px 6px;
    min-width: 30px;

    border-radius: 1.5px;
    text-align: center;

    transition: .15s all;
    cursor: ew-resize;
    user-select: none;
}

.bpm-drag:hover {
  background-color: #e6eaf2;
}




.tooltip-wrap {
    position: relative;
    display: flex;
}

.tooltip {
    position: absolute;
    
    color: #1e1e21;
    background-color: #ffffff60;
    backdrop-filter: blur(5px);

    filter: drop-shadow(0 4px 6px #1e1e2113);
    
    font-size: 12px;
    padding: 4px 8px;
    border-radius: 2px;
    white-space: nowrap;
    pointer-events: none;

    opacity: 0;
    translate: 0 -4px;
    transition: all .15s;

    z-index: 100;
}

.tooltip-top {
    bottom: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);

    translate: 0 4px;
}

.tooltip-bottom {
    top: calc(100% + 6px);
    left: 50%;
    transform: translateX(-50%);
}

.tooltip-left {
    right: calc(100% + 6px);
    top: 50%;
    transform: translateY(-50%);
}

.tooltip-right {
    left: calc(100% + 6px);
    top: 50%;
    transform: translateY(-50%);
}

.tooltip-wrap:hover .tooltip {
    opacity: 1;
    translate: 0 0;
}


.effects-panel {
    position: absolute;
    display: flex;
    justify-content: space-between;

    right: calc(100% + 8px);
    top: 50%;
    transform: translateY(-50%);

    z-index: 10;

    background-color: #dae1ec;
    
    box-shadow: 0 4px 6px #1e1e2113;
    border-radius: 2px;

    padding: 20px;
}

.effects-panel {
    animation: effects-in .15s ease-out;
}

.effects-panel-closing {
    animation: effects-out .15s ease-out forwards;
}

@keyframes effects-out {
    from { opacity: 1; translate: 0 0; }
    to   { opacity: 0; translate: 0 4px; }
}
@keyframes effects-in {
    from { opacity: 0; translate: 0 4px; }
    to   { opacity: 1; translate: 0 0; }
}

.effects-dials {
    display: flex;
    flex-direction: row;

    gap: 20px;
}

.dial {
    height: 80px;
    width: 80px;
    border-radius: 50px;
    background-color: #fff5f8;

    position: relative;

    user-select: none;

    transition: .15s all;

    filter: drop-shadow(0 -10px 10px #fff5f8b3) drop-shadow(0 10px 10px #c4d3ea);
}

.dial-wrap {
    text-align: center;
}

.dial:hover {
    background-color: #e6eaf2;
}

.dial-indicator {
    position: absolute;
    height: 43px;
    width: 3px;
    display: flex;
    flex-direction: column;

    bottom: 50%;
    left: calc(50% - 1.5px);
    transform-origin: bottom center;

    transition: .15s all;
}

.dial-top {
    width: 100%;
    height: 50%;
    border-radius: 2px;
    background-color: #1e1e21;
}




.settings-panel {
    position: absolute;
    top: calc(100% + 8px);
    right: calc(100% - 88px);
    z-index: 10;

    background-color: #dae1ec;
    border-radius: 2px;
    box-shadow: 0 4px 6px #1e1e2113;
    padding: 8px;

    display: flex;
    gap: 5px;
    flex-direction: column;

    font-size: 14px;

    animation: effects-in .15s ease-out;
}

.settings-panel h3, .settings-panel p {
    margin: 0;
}

.settings-panel-closing {
    animation: effects-out .15s ease-out forwards;
}

.save-load {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 8px;
}



.mobile-message {
    display: none;
}

@media (max-width: 768px) {
    .app {
        display: none;
    }

    .mobile-message {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 100vh;
        text-align: center;
        gap: 8px;
    }

    .mobile-cont {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        gap: 16px;
    }

    .mobile-cont svg {
        width: 30px;
        height: 30px;
    }
}